:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optional: make the host element take full viewport height */
  text-align: center; /* Center the text */
}

button {
  margin: 5px 0; /* Add some spacing between buttons */
  width: 150px;
  border-radius: 20px;
}

h2 {
  margin: -5px 0 10px 0; /* Adjust this to control the space around h2 elements */
}

.weight h2 {
  margin: 5px 0 -10px 0; /* Adjust this to control the space around h2 elements */
}
