
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optional: make the host element take full viewport height */
  /* width: 100vw; */
  text-align: center; /* Center the text */
}

button {
  margin: 5px 0; /* Add some spacing between buttons */
  width: 150px;
  border-radius: 20px;
}

.rectangle {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 350px; /* Full width minus the margins */
  box-sizing: border-box;
  border: 2px solid black;
}


